/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body.sensorica {
  --bg-color: #0e1621;
  --color: #ffffff;
  --shadow-color: rgb(0, 0, 0);
  --gray: rgb(29, 29, 29);

  --transparent-light-1: rgba(255, 255, 255, 0.2);
  --transparent-light-2: rgba(255, 255, 255, 0.1);
  --transparent-light-3: rgba(255, 255, 255, 0.05);

  --transparent-dark-1: rgba(0, 0, 0, 0.5);
  --transparent-dark-2: rgba(0, 0, 0, 0.2);
  --transparent-dark-3: rgba(0, 0, 0, 0.1);
  --transparent-dark-4: rgba(0, 0, 0, 0.05);

  --brand-color: #400071;
  --border-color: #333c4b;
  --card-color: #343a46;
  --color-warning: #ff9c0833;
  --color-warning-bg: #c13d543f;
  --color-error: #ff080833;
  --color-inactive: #ccc;
  --color-notice: #bfcaffbb;
  --color-notice-bg: #bfcaff3d;
  --link-color: #5286ef;
  --color-input-elements: #17212b;

  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 20px;
  line-height: 28px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--transparent-light-1);
}

main.sensorica {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 120px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
  }
}

.sensorica code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sensorica label,
.sensorica input,
.sensorica button,
.sensorica textarea {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: var(--color);
}

.sensorica input,
.sensorica textarea {
  padding: 12px 16px;
  border-radius: 20px;
  border: 0.125rem solid transparent;
  background-color: var(--transparent-light-3);
  transition: all 0.1s ease-in-out;
}

.sensorica textarea {
  resize: vertical;
}

.sensorica input:hover,
.sensorica textarea:hover,
.sensorica input:focus,
.sensorica textarea:focus {
  border-color: var(--transparent-light-1);
  outline: none;
}

.sensorica button {
  padding: 2px 10px;
  background-color: var(--brand-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.sensorica details {
  margin: 6px 0;
}

.sensorica summary {
  cursor: pointer;
  outline: none;
  color: var(--color-notice);
}

.sensorica a {
  text-decoration: none;
  color: var(--link-color);
}

.sensorica img {
  max-width: 100%;
}

.sensorica_important-warning {
  padding: 6px 12px;
  border-radius: 12px;
  background-color: var(--color-warning-bg);
}

.sensorica_primaryBtn {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: inherit;
  padding: 0.8rem 2rem;
  background-color: var(--brand-color);
  border: 0.125rem solid var(--transparent-light-1);
  transition: all 0.2s ease-in-out;
}

.sensorica_primaryBtn:hover,
.sensorica_primaryBtn:focus {
  opacity: 0.5;
}

.sensorica_primaryBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.sensorica_accordion {
  padding: 12px 18px;
  border-radius: 20px;
  background-color: #212e3c;
}

.sensorica_accordionTitle {
  color: var(--color);
}

.sensorica_accordionOptionsList {
  margin: 14px 0 0;
  padding: 0;
  display: flex;
  list-style: none;
  overflow-x: scroll;
}

.sensorica_accordionOptionsList li {
  flex: 1;
}

.sensorica_accordionOptionsList button {
  min-width: 196px;
  margin: 6px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  background-color: var(--transparent-light-3);
  color: var(--color-inactive);
  transition: all 0.1s ease-in-out;
}

.sensorica_accordionOptionsList button:hover {
  background-color: var(--transparent-light-1);
}

.sensorica_accordionOptionsList img {
  height: 64px;
}

.sensorica_accordionOptionsList span {
  margin: 18px 0 8px;
  font-weight: 700;
  font-size: 20px;
}

header {
  padding: 1% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 20px;
  }
}

.sensorica_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Access */

.sensorica_accessSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sensorica_accessForm {
  margin-bottom: 32px;
}

.sensorica_accessForm .sensorica_primaryBtn {
  width: 100%;
  margin-top: 18px;
}

/* *********** */

/* Deployment */

@media screen and (max-width: 768px) {
  .sensorica_deploymentPageTitle {
    font-size: 24px;
  }
}

.sensorica_deploymentSection form {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid var(--border-color);
}

.sensorica_deploymentSection textarea {
  min-height: 150px;
}

.sensorica_deploymentSection .sensorica_row {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}

.sensorica_deploymentSection .sensorica_row label {
  width: fit-content;
}

.sensorica_deploymentSection .row>*:first-child {
  margin-bottom: 10px;
}

/* *********** */

/* Footer */

.sensorica footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 24px;
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}