@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}





.sensorica_wrapper ol,
.sensorica_wrapper ul {
  list-style: none;
}

.sensorica_wrapper img {
  max-width: 100%;
  height: auto;
}

.sensorica_wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sensorica_wrapper :root {
  --color-link: #1AA5AC;
}

.sensorica_wrapper a {
  text-decoration: none;
  color: #1AA5AC;
}


.sensorica_wrapper {
  max-width: 1140px!important;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  
}

.sensorica_dark_theme  {
  background-color:#141d2b;
  color: #fff;
}


@media (min-width: 992px) {
  .sensorica_wrapper {
    max-width: 960px;
  }
  .sensorica_wrapper main {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .sensorica_wrapper {
    max-width: 1140px;
  }
}
@media (min-width: 1350px) {
  .sensorica_wrapper {
    max-width: 1320px;
  }
}
.sensorica_login-page .sensorica_supportWrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.sensorica  {
  position: static;
  padding: 0;
  margin: 142px 0;
  color: #94ABCF;
}
footer.sensorica  svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
footer.sensorica  a {
  color: #1AA5AC;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

main footer.sensorica  {
  margin-left: 500px;
}

.sensorica_supportWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sensorica_header  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0 100px 0;
}
.sensorica_header  h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  margin: 0;
}

h3.sensorica  {
  margin: 0 0 80px 0;
}

.sensorica_form-group {
  margin-bottom: 30px;
}
.sensorica_form-group label {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  display: block;
}
.sensorica_form-group .sensorica_form-control {
  height: 72px;
  background: #1E2839;
  border: 1px solid #1E2839;
  font-size: 20px;
}
.sensorica_form-group .sensorica_form-control:focus {
  border-color: #1AA5AC;
  outline: none;
}
.sensorica_form-group .sensorica_form-control:valid {
  background: #1E2839;
}

.sensorica_form-section .sensorica_form-control {
  width: 100%;
  padding: 14px 20px;
  height: 56px;
  background: #1E2839;
  border: 0;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-family: inherit;
  border: 2px solid #1E2839;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  resize: vertical;
}
.sensorica_form-control.form-login {
  height: 72px;
}
.sensorica_form-control::-webkit-input-placeholder {
  color: #596B85;
  opacity: 1;
}
.sensorica_form-control::-moz-placeholder {
  color: #596B85;
  opacity: 1;
}
.sensorica_form-control:-ms-input-placeholder {
  color: #596B85;
  opacity: 1;
}
.sensorica_form-control::-ms-input-placeholder {
  color: #596B85;
  opacity: 1;
}
.sensorica_form-control::placeholder {
  color: #596B85;
  opacity: 1;
}
.sensorica_form-control:focus {
  border-color: #1AA5AC;
  outline: none;
}
.sensorica_form-control:valid {
  background: #1E2839;
}

.sensorica_header-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 104px;
          flex: 0 0 104px;
  max-width: 104px;
  margin-right: 58px;
  display: inline-block;
  margin-top: 10px;
}

.sensorica_container {
  max-width: 520px;
  padding: 0 20px;
  margin: 0 auto;
}

.sensorica_button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.sensorica_button-wrap .sensorica_btn:first-child:not(:last-child) {
  display: none;
}

.sensorica_btn {
  border-radius: 10px;
  position: relative;
  width: 100%;
  font-size: 20px;
  height: 72px;
  z-index: 1;
  overflow: hidden;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#10A37F), to(#28A8E9));
  background: linear-gradient(90deg, #10A37F 0%, #28A8E9 100%);
}
.sensorica_btn:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#10A37F), to(#28A8E9));
  background: linear-gradient(90deg, #10A37F 0%, #28A8E9 100%);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: -1;
}
.sensorica_btn:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#28A8E9), to(#10A37F));
  background: linear-gradient(90deg, #28A8E9 0%, #10A37F 100%);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.sensorica_btn:hover:before {
  opacity: 0;
}
.sensorica_btn:hover:after {
  opacity: 1;
}
.sensorica_btn.btn-prompt {
  background: #1E2839;
  margin-top: 50px;
}
.sensorica_btn.btn-prompt:before, .sensorica_btn.btn-prompt:after {
  display: none;
}
.sensorica_btn.btn-prompt:hover {
  background: #253145;
}
.btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.sensorica_form {
  margin-bottom: 80px;
}

.sensorica_form-link {
  color: #94ABCF;
  font-size: 20px;
}
.sensorica_form-link a {
  color: #1AA5AC;
}

.sensorica_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sensorica_sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
  max-width: 420px;
}

.sensorica_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  padding-left: 80px;
  position: relative;
}

.sensorica_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 40px;
}

.sensorica_miniWarging {
  margin-top: -45px !important;
  padding: 7px 14px !important;
}
.sensorica_form-section.errors-holder {
  color: #c50000;
}
.sensorica_nav li {
  display: block;
}
.sensorica_nav li:not(:last-child) {
  margin-bottom: 5px;
}
.sensorica_nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #94ABCF;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  padding: 20px 85px 20px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius: 10px;
}
.sensorica_nav li a span {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #1E2839;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius: 50%;
  text-align: center;
}
.sensorica_nav li a.sensorica_active {
  color: #fff;
  background: #1E2839;
}
.sensorica_nav li a.sensorica_active span {
  background-color: #2E3D54;
}
.sensorica_nav li a.sensorica_active svg {
  fill: #fff;
}
.sensorica_nav li a:hover {
  color: #fff;
}
.sensorica_nav li a:hover span {
  background-color: #2E3D54;
}
.sensorica_nav li a:hover svg {
  fill: #fff;
}
.sensorica_nav svg {
  fill: #94ABCF;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.sensorica_tab-content {
  display: none;
}
.sensorica_tab-content.active {
  display: block;
}
.sensorica_tab-content label {
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
  color: #fff;
}
.sensorica_tab-content label a {
  color: var(--color-link);
}

.sensorica_headline {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.sensorica_headline span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  margin-right: 30px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.sensorica_headline svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: #fff!important;
}
.sensorica_headline + .sensorica_warning {
  margin-top: -20px;
}
.sensorica_headline.with-image-icon img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 56px;
  height: 56px;
  margin-right: 30px;
}
.sensorica_headline.with-image-icon button {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  width: 22px;
  height: 41px;
  background: url("images/back.svg") 0 0 no-repeat;
  background-size: 100%;
  border: 0;
  padding: 0;
  margin-right: 35px;
  cursor: pointer;
}

.sensorica_container .sensorica_headline {
  margin-bottom: 60px;
}

.sensorica_separator {
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 60px 0;
}
.sensorica_separator + .sensorica_title {
  margin-bottom: 30px;
}
.sensorica_separator:before {
  content: "";
  display: block;
  position: absolute;
  background: #253145;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
}
.sensorica_separator span {
  display: inline-block;
  background-color: #141D2B;
  padding: 0 40px;
  z-index: 1;
  position: relative;
  color: #94ABCF;
  font-weight: 600;
}

.sensorica_accordionOptionsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.sensorica_accordionOptionsList li {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;
}
.sensorica_accordionOptionsList li button {
  background: #1E2839;
  border: 0;
  text-align: center;
  height: 350px;
  padding: 40px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border-radius: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #94ABCF;
  font-family: inherit;
  cursor: pointer;
}
.sensorica_accordionOptionsList li button:hover {
  background: #253145;
}
.sensorica_accordionOptionsList li button span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
}
.sensorica_accordionOptionsList li button img {
  width: 104px;
  height: 104px;
  display: block;
  margin: 0 auto 30px auto;
  border-radius: 15px;
}

#customIcon {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sensorica_textarea-wrp {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#28A8E9), to(#10A37F));
  background: linear-gradient(90deg, #28A8E9 0%, #10A37F 100%);
  padding: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 32px;
  display: none;
  position: relative;
}
.sensorica_textarea-wrp.non-empty {
  padding: 2px;
}
.sensorica_textarea-wrp.non-empty .sensorica_prompt-area {
  padding: 30px 28px 28px;
  border-radius: 8px;
  height: 433px;
}

.sensorica_check-icon {
  position: absolute;
  width: 30px;
  height: 25px;
  background-color: white;
  top: 23px;
  right: 22px;
  background: url("images/checkbox.svg") 0 0 no-repeat;
  border: 0;
}

.edit-mode .sensorica_textarea-wrp {
  display: block;
}
.edit-mode:not(.write-a-prompt) .sensorica_button-wrap .sensorica_btn.btn-prompt {
  display: block;
  margin-top: 0;
}

.sensorica_prompt-area {
  width: 100%;
  height: 437px;
  border-radius: 8px;
  background: #1E2839;
  resize: vertical;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 32px 30px 30px;
  outline: none;
  border: none;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sensorica_more {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0 80px 0;
}
.sensorica_more a {
  display: inline-block;
  color: var(--color-link);
}

.sensorica_form-section {
  margin-bottom: 60px;
  color: #94ABCF;
  font-size: 20px;
  line-height: 30px;
}

SVG.sensorica_filled_step {
  display: none;
  padding: 0px;
  margin: 0px;
  width: 24px;
  position: absolute;
  right: 55px;
}

A.sensorica_tab-title.filled SVG.sensorica_filled_step {
  display: block;
}
.sensorica_hasError {
  border: 1px solid #b70707;
}

p {
  margin-bottom: 25px;
}
p button {
  padding: 0;
  color: #1AA5AC;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
  border: 0;
  background: none;
  cursor: pointer;
}

.sensorica_warning {
  color: #C57B64;
  border-radius: 10px;
  background: #262631;
  margin: 60px 0;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sensorica_warning svg {
  display: inline-block;
  width: 26px;
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  max-width: 26px;
  margin-right: 30px;
  position: relative;
  top: 2px;
  fill: #C57B64;
}

.sensorica_important-warning {
  color: #E4464F;
  border-radius: 10px;
  background: #29212F;
  margin: 80px 0;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sensorica_important-warning svg {
  display: inline-block;
  width: 26px;
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  max-width: 26px;
  margin-right: 30px;
  position: relative;
  top: 2px;
  fill: #E4464F;
}

.important-sucсess {
  color: #509F87;
  border-radius: 10px;
  background: #1A2A34;
  padding: 25px 30px;
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.important-sucсess svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  max-width: 24px;
  margin-right: 30px;
  position: relative;
  top: 2px;
}

.sensorica_info-message {
  color: #94ABCF;
  border-radius: 10px;
  background: #1E2839;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}
.sensorica_info-message svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  max-width: 24px;
  margin-right: 30px;
  position: relative;
  top: 2px;
}

details {
  position: relative;
  margin-top: 30px;
}
details[open] .sensorica_chevron {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
details summary {
  list-style: none;
  padding-left: 36px;
  cursor: pointer;
}
details summary::-webkit-details-marker {
  display: none;
}

.sensorica_chevron {
  position: absolute;
  left: 0;
  top: 5px;
  width: 11px;
  height: 18px;
}
.sensorica_chevron svg {
  width: 11px;
  height: 18px;
  fill: #42526C;
}
.sensorica_chevron.chevron-open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sensorica_form-section ol {
  margin-top: 80px;
}
.sensorica_form-section img {
  width: 100%;
}

.sensorica ol {
  list-style: none;
  counter-reset: point;
}
.sensorica ol li {
  color: #94ABCF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  padding-left: 30px;
}
.sensorica ol li img {
  margin-top: 50px;
  border-radius: 10px;
}
.sensorica ol li + li {
  margin-top: 30px;
}
.sensorica ol li:before {
  content: counter(point) ".";
  counter-increment: point 1;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 36px;
  left: 0;
  top: 0;
  color: #fff;
  font-weight: 600;
}

.sensorica_collapse-list {
  margin-top: -20px;
}

.sensorica_collapse {
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #253145;
}
.sensorica_collapse label {
  font-weight: 400;
  margin: 0;
}
.sensorica_collapse input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.sensorica_collapse input[type=checkbox]:checked ~ .sensorica_collapse-content {
  max-height: 100vh;
  padding-bottom: 60px;
}
.sensorica_collapse input[type=checkbox]:checked + .sensorica_collapse-label svg {
  fill: #fff;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.sensorica_collapse-label {
  cursor: pointer;
  position: relative;
  color: #94ABCF;
  padding: 30px 30px 30px 0;
}
.sensorica_collapse-label svg {
  width: 11px;
  height: 18px;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  fill: #42526C;
}

.sensorica_collapse-content {
  max-height: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #94ABCF;
}

@media (max-width: 1349px) {
  .sensorica_nav li a {
    font-size: 18px;
  }
  .sensorica_sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
    max-width: 360px;
  }
  main footer {
    margin-left: 420px;
  }
  .sensorica_content {
    padding-left: 60px;
  }
  .sensorica_accordionOptionsList li button img {
    width: 84px;
    height: 84px;
  }
  .sensorica_header h2 {
    font-size: 52px;
    line-height: 60px;
    color:white
  }
  .sensorica_headline {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 1199px) {
  .sensorica_sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    max-width: 320px;
  }
  .sensorica_form-section .sensorica_form-area {
    height: 96px;
    font-size: 16px;
  }
  main footer {
    margin-left: 380px;
  }
  .sensorica_nav li a {
    font-size: 16px;
    padding: 8px 85px 8px 10px;
  }
  .sensorica_nav li a span {
    width: 24px;
    height: 24px;
    line-height: 24px;
    right: 10px;
  }
  .sensorica_header h2 {
    font-size: 42px;
    line-height: 50px;
  }
  .sensorica_header {
    margin-bottom: 100px;
  }
  .sensorica_header-logo {
    margin-top: 0;
  }
  .sensorica_accordionOptionsList li button img {
    width: 60px;
    height: 60px;
  }
  .sensorica_headline {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (max-width: 991px) {
  .sensorica_nav li a {
    font-size: 14px;
  }
  .sensorica_nav svg {
    width: 20px;
    height: 20px;
  }
  .sensorica_sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    max-width: 300px;
  }
  .sensorica_sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .sensorica_content {
    width: 100%;
    padding: 0;
  }
  .sensorica_row {
    display: block;
  }
  .sensorica_header {
    margin: 30px 0 30px 0;
  }
  .sensorica_sidebar .sensorica_title {
    margin-bottom: 20px;
  }
  .sensorica_header-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48px;
            flex: 0 0 48px;
    max-width: 48px;
    margin-right: 20px;
  }
  .sensorica_form {
    margin-bottom: 40px;
  }
  .sensorica_form-group label {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .sensorica_form-link {
    font-size: 14px;
    line-height: 24px;
  }
  .sensorica_header h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .sensorica_title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .sensorica_headline span {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    margin-right: 20px;
  }
  .sensorica_headline span svg {
    width: 18px;
    height: 18px;
  }
  .sensorica_headline {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .sensorica_form-section {
    font-size: 14px;
    line-height: 24px;
  }
  p {
    margin-bottom: 30px;
  }
  .sensorica_form-section {
    margin-bottom: 30px;
  }
  .sensorica_btn {
    height: 48px;
    font-size: 14px;
    line-height: 24px;
  }
  .sensorica_separator {
    margin: 30px 0;
  }
  .sensorica_btn.btn-prompt {
    margin-top: 30px;
  }
  .sensorica_accordionOptionsList {
    margin-left: -5px;
    margin-right: -5px;
  }
  .sensorica_accordionOptionsList li {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .sensorica_accordionOptionsList li button {
    min-height: 195px;
    height: 100%;
    padding-top: 15px;
    font-size: 12px;
    line-height: 18px;
  }
  .sensorica_accordionOptionsList li button img {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
    
  }
  .sensorica_accordionOptionsList li button span {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .sensorica_more {
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0;
  }
  main footer {
    margin: 60px 0;
  }
  .sensorica_supportWrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
  .sensorica_tab-content label {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .sensorica_form-control {
    font-size: 14px;
    line-height: 24px;
    padding: 15px 20px;
  }
  details {
    margin-top: 20px;
  }
  details summary {
    padding-left: 24px;
  }
  .sensorica_chevron {
    width: 9px;
    height: 14px;
  }
  .sensorica_chevron svg {
    width: 9px;
    height: 14px;
  }
  .sensorica_form-section ol {
    margin-top: 40px;
  }
  .sensorica ol li {
    font-size: 14px;
    line-height: 24px;
    padding-left: 27px;
  }
  .sensorica ol li img {
    margin-top: 30px;
    border-radius: 6px;
  }
  .sensorica ol li + li {
    margin-top: 20px;
  }
  .sensorica_important-warning {
    margin: 40px 0;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 20px;
  }
  .sensorica_important-warning svg {
    width: 20px;
    height: 18px;
    margin-right: 15px;
  }
  .important-sucсess,
  .sensorica_info-message,
  .sensorica_warning {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0;
  }
  .important-sucсess svg,
  .sensorica_info-message svg,
  .sensorica_warning svg {
    margin-right: 16px;
  }
  .sensorica_headline + .sensorica_warning {
    margin-top: 0;
  }
  p button {
    font-size: 14px;
    line-height: 24px;
  }
  .sensorica_form-group {
    margin-bottom: 20px;
  }
  .sensorica_wrapper {
    min-height: calc(100vh - 30px);
    position: relative;
  }
  .sensorica_login-page {
    padding-bottom: 100px;
  }
  .sensorica_login-page footer {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
  }
  .sensorica_collapse .sensorica_collapse-label {
    padding: 20px 40px 20px 0;
    margin-bottom: 0;
  }
  .sensorica_collapse-content {
    font-size: 14px;
    line-height: 24px;
  }
  .sensorica_collapse input[type=checkbox]:checked ~ .sensorica_collapse-content {
    padding-bottom: 20px;
  }
  .sensorica_headline.with-image-icon button {
    width: 13px;
    height: 24px;
    margin-right: 20px;
  }
  .sensorica_form-group .sensorica_form-control {
    height: 48px;
    font-size: 14px;
  }
  .sensorica_headline.with-image-icon img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }
  .sensorica_container .sensorica_headline {
    margin-bottom: 40px;
  }
  .sensorica_form-section .sensorica_form-area {
    font-size: 14px;
  }
  .sensorica_check-icon {
    width: 20px;
    height: 16px;
    top: 10px;
    right: 10px;
    background-size: 100%;
  }
}
@media (max-width: 575px) {
  .sensorica_form-section .sensorica_form-area {
    height: 110px;
  }
  .sensorica_container {
    padding-left: 0;
    padding-right: 0;
  }
}

.sensorica_deploymentPageTitle {
  color:white
}

.sensorica_light_theme {
  background-color: #fff;
  color: #1E2839;
}

.sensorica_light_theme .sensorica_header {
  background-color: #fff;
  color: #1E2839;
}

.sensorica_light_theme .sensorica_header h2 {
  color: #1E2839;
}

.sensorica_light_theme .sensorica_header-logo {
  background-color: #fff;
}

.sensorica_light_theme .sensorica_header-logo svg {
  fill: #1E2839;
}

.sensorica_light_theme .sensorica_nav li a {
  color: #1E2839;
}

.sensorica_light_theme .sensorica_nav li a span {
  background-color: #fff;
}

.sensorica_light_theme .sensorica_nav li a svg {
  fill: #1E2839;
}

.sensorica_light_theme .sensorica_form-group label {
  color: #1E2839;
}

.sensorica_nav .sensorica_light_theme .sensorica_active {
  background-color: gainsboro!important;
  color: #1E2839;
}
.sensorica_light_theme .sensorica_tab-title.sensorica_active {
  background-color: gainsboro!important;
  color: #1E2839;
}
.sensorica_light_theme .sensorica_form-section  {
  color: #1E2839;
}

.sensorica_light_theme .sensorica_accordionOptionsList li button {
  background: #fff;
  color: #1E2839;
}

.sensorica_light_theme .sensorica_accordionOptionsList li button span {
  color: #1E2839;
}

.sensorica_light_theme .sensorica_accordionOptionsList li button:hover {
  background: #ededed;
}

.sensorica_light_theme .sensorica_separator span {
  background-color: #fff;
  color: #1E2839;
}

.sensorica_light_theme .sensorica_prompt-area {
  background-color: #fff;
  color: #1E2839;
  border: 1px solid #1E2839;
}

.sensorica_light_theme .sensorica_prompt-area:focus {
  border-color: #1AA5AC;
}

.sensorica_light_theme .sensorica_prompt-area::-webkit-input-placeholder {
  color: #1E2839;
}



.sensorica_light_theme .sensorica_form-control.sensorica_userinput {
  background-color: #fff;
  color: #1E2839;
  border: 2px solid #1E2839;
}

.sensorica_light_theme .sensorica_form-control.sensorica_userinput:focus {
  border-color: #1AA5AC;
}

.sensorica_light_theme .sensorica_form-control:valid {
  border-color: #1AA5AC;
  background-color: #fff;
  color: #1E2839;
}

.sensorica_light_theme .sensorica_form-control.sensorica_userinput::-webkit-input-placeholder {
  color: #1E2839;
}

.sensorica_light_theme .sensorica_form-control.sensorica_userinput::placeholder {
  color: #1E2839;
}

.sensorica_light_theme .sensorica_form-control.sensorica_userinput:-ms-input-placeholder {
  color: #1E2839;
}

.sensorica_light_theme .sensorica ol {
  counter-reset: my-counter;
}

.sensorica_light_theme .sensorica ol li {
  color: #1E2839;
  counter-increment: my-counter;
  list-style: number;
}

.sensorica_dark_theme ol li {
  counter-increment: my-counter;
  list-style: number;
}

.sensorica_light_theme .sensorica ol li::before {
  content: counter(my-counter) ". ";
}

.sensorica_light_theme .sensorica_form-section .sensorica_form-control
{
  background-color: #fff;
  color: #1E2839;
  border: 2px solid #1E2839;
}

.sensorica_magic-prompt {

  right: 15px;
  top: 161px;
  position: absolute;
  width: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fade-out {
  animation: fadeOut 0.1s;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 0.1s;
  opacity: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sensorica_summary-content ol {
  list-style: number;
  counter-reset: point;
}

.sensorica_light_theme .sensorica_tab-content label {
  color: #1E2839;
}